
.logo{
    border-radius:50%;    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    
    
}
nav{width: 100%;}

.topnav {
    width: 100%;
 
     display: flex;
    font-family: "gras";

     background-color: rgba(231, 216, 233, 0.1);

     box-shadow: 1px 1px 12px #555;
     color: white;  
}

.topnav a {
 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  
        
list-style-type:none; 
    padding: 10px;
    padding-right: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}


#text-modal{
    width: 80%;
    text-align: justify;
}
#modal{ width: 95%;
 
    margin-left:10px;

position: absolute;
z-index: 18;
background-color:  rgba(255, 255, 255, 0.8);
padding: 10px;
display: none;}
.logo:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
#competence{
    display: flex;
    
}
#realisation{
    display: flex;
    

}
#text-rea{
    display: flex;
}
#text-rea p{
    margin-left: 10px;
}
#loisir{
    height: 300px;
       
     background-color: rgba(231, 216, 233, 0.4);
    margin: 2px ;
}
.contenu-competence img{
    height: 50%;
    margin-left: 35%;
    margin-top: 5px;
}
.contenu-competence p{
     text-align: center;
}
.contenu-competence h2{
    text-align: center;
    color: white;
}

.contenu-competence{
    height: 300px;
    width: 33.5%;
    margin: 1px ;
    background-color: rgba(231, 216, 233, 0.4);
    
}
#contact{margin-top:16%; width: 50%;text-align: center;}

.contenu-realisation h2{
    text-align: center;
    
}
#text-rea{
    font-family: "regu";
}
.contenu-realisation img{
    width: 80%;
    margin-left: 7%;
    
}
#loisir p{
    font-family: "regu";
}
.contenu-competence p{
    font-family: "regu";
}
#text p{
    font-family: "regu";
    
}

.contenu-realisation{

    width: 32.6%;
    
     background-color: rgba(231, 216, 233, 0.2);
    margin: 2px ;
    
}
#text-modal{
    font-family: "regu";
}
footer{
    font-family: "regu";
}
#ol{

    font-family: "aubrey";
    
    color: white;
    
}
#test{
    margin-left: 400px;
    
}
#test h1{
    padding-left: 250px;    
}
#test h4{
    padding-left: 250px;    
}
#test img{
    height: 500px;
}
nav div{

    display: flex;
}


#porte{
     height: 20vh;
    margin-left: 42%;
    margin-top: 2%;
}
a{
    text-decoration: none;
    color: black;
}


#text h1{
    text-align: center;
}
#text{
       background-color: rgba(255, 255, 255,0.8);

    padding:8px;

    
}
#loisir {
    padding: 2px;
}
#loisir h2{
    text-align: center;
    font-size:30px;
    
}

#loisir img{
    width: 8%;
    margin-left: 10%;
}
footer{
   width: 100%;
    background-color: rgba(231, 216, 233, 1);
    padding: 5px;    

    
}

@font-face{
    font-family: 'aubrey';
src: url('gnyrwn971.ttf');
}
@font-face{
    font-family: 'regu';
src: url('CaviarDreams.ttf');
}
@font-face{
    font-family: 'gras';
src: url('CaviarDreams_Bold.ttf');
}
body {
     overflow-x : hidden;
    background-size:  cover;
      -webkit-background-size: cover; 
  background-image: url(image/fond.png);
    margin: 0px;
    padding: 0px;

    background-repeat:no-repeat;

    font-family: "aubrey";
    width: 100vw;
margin: auto;
min-height: 100vh;

background-position: top;

display: inline-block;
      
}
#contact p{
    font-family: "gras";
}

@media (max-width: 768px) {  
     #porte{
        height: 20vh;
    margin-left: 30%;
    margin-top: 2%;    
        
    }
  
}